@import "./reutilizables/colors";

@media (max-width: 846px){
  .footer {
    padding: 20px;
    background-color: $azul-oscuro;
    color: $blanco;

    .footer-icon {
      margin: auto;
      padding-bottom: 20px;
      img{
        width: 40px; /* QUeda de este tamaño */
      }
    }
    .footer-pretitulo {
      margin: 0;
      font-size: 1rem;
    }
    .footer-titulo {
      font-size: 1.5rem;
      text-transform: uppercase;
      width: 70%;
      line-height: 1.2;
      font-family: "Unbounded-light";

      p {
        margin: 0;
        padding-bottom: 20px;
      }
    }
    .footer-boton {
      padding: 8px;
      border: 1px solid $blanco;
      display: grid;
      grid-template-columns: 90% 10%;
      cursor: pointer;

      .footer-boton-texto {
        grid-column: 1;
        margin: auto 0;
        p {
          margin: auto;
          font-family: "Unbounded-ExtraLight";
          font-size: 0.6rem;
        }
      }
      .footer-boton-flecha {
        grid-column: 2;
        display: flex;
        justify-content: right;
        padding-right: 5px;
        svg {
          scale: 1.5;
          stroke-width: 1;
          margin: auto;
        }
      }

      
    }
  }



}

@media (min-width: 847px) {
  .footer {
    padding: 100px;
    background-color: $azul-oscuro;
    color: $blanco;

    .footer-icon {
      margin: auto;
      padding-bottom: 20px;
      img{
        width: 40px; /* QUeda de este tamaño */
      }
    }
    .footer-pretitulo {
      margin: 0;
      font-family: "RedHatDisplay-Medium";
    }
    .footer-titulo {
      font-size: 50px;
      text-transform: uppercase;
      width: 630px;
      line-height: 1;
      font-family: "Unbounded-light";

      p {
        margin: 0;
        padding-bottom: 20px;
      }
    }
    .footer-boton {
      padding: 15px;
      border: 1px solid $blanco;
      display: grid;
      grid-template-columns: 90% 10%;
      cursor: pointer;

      &:hover{
        background-color: $azul-rey;
        border: 1px solid $azul-rey;
      }
      .footer-boton-texto {
        grid-column: 1;
        margin: auto 0;
        p {
          margin: auto;
          font-family: "Unbounded-ExtraLight";
          font-size: 0.8rem;
        }
      }
      .footer-boton-flecha {
        grid-column: 2;
        padding-right: 5px;
        display: flex;
        justify-content: right;
        svg {
          scale: 2.5;
          stroke-width: 1;
        }
      }

      
    }
  }
}
