@use "./reutilizables/tipografias";
@import "./reutilizables/colors";

/* MOBILE */

@media (max-width: 846px) {
  .home_desktop {
    display: block;
    background-image: url("./assets/imagenes/home/home_fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;

    .home_mobile-navbar {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 30px;
      .home_mobile-navbar-logo {
        padding-top: 10px;
        img {
          width: 45%;
        }
      }
      .home_mobile-navbar-idioma {
        font-family: "Unbounded-regular";

        .dropdown {
          text-align: right;
          .dropdown-menu {
            background-color: $azul-rey;
            border-radius: 0;
            padding: 0px;
            --bs-dropdown-min-width: 6rem;
            margin-right: 8px;
            clip-path: polygon(
              83% 16%,
              88% 0,
              93% 16%,
              100% 16%,
              100% 100%,
              0 100%,
              0 17%
            );

            a {
              color: $blanco;
              opacity: 0.5;
              padding: 5px;
              font-size: 15px;

              &:hover {
                background-color: transparent;
                color: $blanco;
                opacity: 1;
              }
            }
            :nth-child(1) {
              margin-top: 12px;
            }
            :nth-child(2) {
              padding-bottom: 0;
            }

            span {
              display: block; // Asegura que el `span` actúe como una línea separadora
              height: 0.5px; // Define el grosor de la línea
              background-color: $gris-oscuro; // Define el color blanco para la línea
              width: 100%;
            }
          }

          button {
            background-color: transparent;
            border: none;
            font-size: 15px;
            svg {
              margin-left: 5px;
              margin-bottom: 3px;
              scale: 1.25;
            }
          }
          .dropdown-toggle::after {
            display: none; // Oculta la flecha por defecto
          }
        }
      }
    }
    .home_desktop-navbar {
      display: none;
    }

    .home_mobile-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      //width: 100%;

      p:nth-child(1) {
        font-weight: 100;
      }

      p {
        color: white;
        text-align: center;
        font-size: 45px;
        margin: 0;
        font-family: "Unbounded-Extralight";
        text-transform: uppercase;
        line-height: 0.9;
        font-weight: 800;
      }
    }
    .home_desktop-title {
      display: none;
    }
    .home_desktop-icon {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      text-align: center;

      img {
        width: 40px;
      }
    }
    .home_desktop-subtitulo {
      color: white;
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 30%;
      text-align: center;

      p {
        font-size: 15px;
        line-height: 1;
        font-weight: 100;
        font-family: "Unbounded-Extralight";
      }
    }
  }
}

/* DESKTOP */

@media (min-width: 847px) {
  .home_desktop {
    display: block;
    background-image: url("./assets/imagenes/home/home_fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
    .home_desktop-navbar {
      width: 100%;
      display: grid;
      grid-template-columns: 90% 10%;
      padding: 40px;
      .home_desktop-navbar-logo {
        grid-column: 1;
        img {
          width: 18%;
          cursor: pointer;
        }
      }
      .home_desktop-navbar-idioma {
        grid-column: 2;
        color: $blanco;
        margin: auto;
        font-family: "Unbounded-regular";

        button {
          background-color: transparent;
          border: none;

          svg {
            margin-left: 5px;
            margin-bottom: 3px;
            scale: 1.25;
          }
        }
        .dropdown-toggle::after {
          display: none; // Oculta la flecha por defecto
        }
        .dropdown-menu {
          background-color: $azul-rey;
          border-radius: 0;
          padding: 0px;
          margin-top: 30px;
          clip-path: polygon(
            83% 16%,
            88% 0,
            93% 16%,
            100% 16%,
            100% 100%,
            0 100%,
            0 17%
          );
          a {
            color: $blanco;
            opacity: 0.5;
            padding: 10px;
            &:hover {
              background-color: transparent;
              color: $blanco;
              opacity: 1;
            }
          }
          :nth-child(1) {
            margin-top: 15px;
          }
          :nth-child(2) {
            padding-bottom: 0;
          }

          span {
            display: block; // Asegura que el `span` actúe como una línea separadora
            height: 0.5px; // Define el grosor de la línea
            background-color: $gris-oscuro; // Define el color blanco para la línea
            width: 100%;
          }
        }
      }
    }
    .home_mobile-navbar {
      display: none;
    }

    .home_desktop-title {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 100%;

      p {
        color: white;
        text-align: center;
        font-size: 80px;
        margin: 0;
        font-family: "Unbounded-Extralight";
        text-transform: uppercase;
        height: 80px;
      }
      p:nth-child(1) {
        margin-right: 5%;
      }

      p:nth-child(2) {
        font-family: "Unbounded-regular";
        margin-left: 5%;
      }
    }
    .home_mobile-title {
      display: none;
    }

    .home_desktop-icon {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 100%;
      text-align: center;

      img {
        width: 40px;
      }
    }

    .home_desktop-subtitulo {
      color: white;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 12%;
      text-align: center;

      p {
        font-size: 30px;
        margin: 0;
        line-height: 0.85;
        font-weight: 100;
        font-family: "Unbounded-Extralight";
      }
    }
  }
}
