@use "./reutilizables/tipografias";
@import "./reutilizables/colors";

@media (max-width: 576px) {
  .home_desktop-servicios {
    display: none;
  }
  .home_mobile-servicios {
    .acordion-externo-desktop {
      display: none;
    }

    .acordion-externo-mobile {
      height: 195vh; /* Se tuvo que hacer esto porque cada que se hacia click en una opcion del acordeon del mobile. habia un desplazamiento hacia abajo */
      .accordion-item {
        .accordion-header {
          .accordion-button {
            display: grid;
            grid-column: 1;
            grid-template-columns: 85% 15%;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            font-size: 30px;
            font-family: "Unbounded-Extralight";
            padding: 20px;

            p {
              margin: 0;
            }
            .accordion-icon {
              grid-column: 2;
              transform: rotate(90deg);
              margin: auto;
              img {
                padding-bottom: 0px;
                width: 30px;
              }
            }
          }
          .accordion-button::after {
            display: none; /* Oculta la flecha */
          }
        }

        .accordion-collapse {
          width: 100%;
          .accordion-body {
            flex: none;
            //overflow: auto;
            //padding: 1rem; // Ajusta los márgenes si es necesario
          }
        }
      }
      .item-activo {
        width: 100%;
        

        .accordion-body {
          padding: 0;
         

          .acordion-contenido {
          padding: 50px 25px;
            p {
              margin: 0;
              color: $blanco;
            }
            .home_mobile-servicios-pretitulo {
              p {
                font-family: "RedHatDisplay-Medium";
                text-transform: uppercase;
                font-size: 15px;
              }
            }
            .home_mobile-servicios-titulo {
              font-size: 30px;
              font-family: "Unbounded-light";
              color: $blanco;
              display: grid;
              grid-template-columns: 90% 10%;
              width: 100%;

              .home_mobile-servicios-p {
                line-height: 0.9;
                text-transform: uppercase;
                padding-top: 10px;
                grid-column: 1;
                padding-bottom: 30px;
              }
            }
            span {
              display: block; // Asegura que el `span` actúe como una línea separadora
              height: 0.5px; // Define el grosor de la línea
              background-color: white; // Define el color blanco para la línea
              width: 96%;
            }

            
          }
          .home_mobile-servicios-imagen {
              width: 100%;
              

            }
        }
      }

      .home_mobile-servicios-imagen {
        img {
          width: 100%;
        }
      }
    }

    .servicios {
      width: 100%;

      .servicios-cerrado {
        display: grid;
        grid-template-columns: 85% 15%;
        padding: 10px 0;
        h2 {
          margin: 0;
          font-size: 1.25rem;
          padding: 10px 0;
          color: white;
          font-family: "Unbounded-light";
          text-transform: lowercase;
        }
        .servicios-iconoAbrirCerrar {
          margin: auto;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto 0;
            width: 20px; // Tamaño del círculo
            height: 20px;
            background-color: transparent; // Fondo del círculo inactivo
            border-radius: 50%; // Hace el contenedor circular
            transition: background-color 0.1s ease; // Transición suave para hover
            cursor: pointer;
            border: 1px solid $blanco;

            svg {
              scale: 0.8; // Escala del ícono
              fill: $blanco; // Color por defecto del ícono
              transition: fill 0.1s ease; // Transición suave para el cambio de color
            }
          }
        }
      }
      .servicios-abierto {
        width: 80%;
        p {
          font-size: 0.8rem;
          padding-bottom: 20px;
          font-family: "RedHatDisplay-Light";
        }
      }
    }
  }
  .oculto {
    display: none;
  }
}

@media (min-width: 847px) {
  .home_mobile-servicios {
    display: none;
  }
  .home_desktop-servicios {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 500px;
    .home_desktop-servicios-imagen {
      height: 500px;
      grid-column: 1;

      img {
        width: 100%;
      }
    }
    .acordion-externo-mobile {
      display: none;
    }

    .acordion-externo-desktop {
      display: flex; // Alinea los ítems en fila
      flex-direction: row; // Coloca los elementos lado a lado

      .accordion-item {
        display: flex;
        flex-direction: row-reverse; // Mantiene header y body apilados dentro de cada ítem
        justify-content: center;
        .accordion-header {
          writing-mode: vertical-rl; // Hace que el texto se lea de abajo hacia arriba
          transform: rotate(
            180deg
          ); // Corrige la orientación del texto para que sea legible
          text-align: center; // Alinea el texto verticalmente en el header
          cursor: pointer; // Asegura que sea clickeable

          .accordion-button {
            background-color: transparent;
            color: white;
            font-size: 50px;
            text-transform: uppercase;
            margin: 0 auto;
            height: 400px;
            font-size: 40px;
            font-family: "Unbounded-Extralight";
            padding: 30px;
            padding-top: 40px;
            &:focus {
              /* Quita efecto de bordes cuando se hace click */
              outline: none;
              box-shadow: none;
            }
          }
          .accordion-button::after {
            display: none; /* Oculta la flecha */
          }
          .accordion-icon {
            display: flex;
            position: absolute;
            top: 100%;
            margin: auto;
            transform: translate(-50%, -50%);
            transform: rotate(180deg);

            img {
              padding-bottom: 0px;
              width: 40px;
            }
          }
        }

        .accordion-collapse {
          width: 100%;
          .accordion-body {
            flex: none;
            //overflow: auto;
            //padding: 1rem; // Ajusta los márgenes si es necesario
          }
        }
      }
      .item-activo {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: left;

        .accordion-body {
          padding: 0;
          width: 100%;
          //display: flex;
          p {
            margin: 0;
            color: $blanco;
          }
          .home_desktop-servicios-pretitulo {
            p {
              font-family: "RedHatDisplay-Medium";
              text-transform: uppercase;
            }
          }
          .home_desktop-servicios-titulo {
            font-size: 50px;
            font-family: "Unbounded-light";
            color: $blanco;
            display: grid;
            grid-template-columns: 90% 10%;
            width: 100%;

            .home_desktop-servicios-p {
              line-height: 0.9;
              text-transform: uppercase;
              padding-top: 10px;
              grid-column: 1;
              padding-bottom: 10px;
            }
            /*  .home_desktop-servicios-titulo-estrella {
              grid-column: 2;
              position: relative;
              left: 30%;
              transform: translate(-50%, -20%);

              img {
                width: 50px;
              }
            } */
          }
          span {
            display: block; // Asegura que el `span` actúe como una línea separadora
            height: 0.5px; // Define el grosor de la línea
            background-color: white; // Define el color blanco para la línea
            width: 92%;
          }
        }
      }
    }

    .acordion-interno {
      display: flex;
      flex-direction: column; /* Restablecer el flujo interno */
      background-color: transparent;
      padding: 0 50px 0 0;
      .accordion-item {
        display: flex;
        flex-direction: column;

        .accordion-header {
          writing-mode: horizontal-tb;
          transform: rotate(360deg);

          .accordion-button {
            color: black;
            background-color: transparent;
            //height: fit-content;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .servicios {
      width: 100%;

      span {
        display: block; // Asegura que el `span` actúe como una línea separadora
        height: 0.5px; // Define el grosor de la línea
        background-color: white; // Define el color blanco para la línea
        width: 100%;
      }
      .servicios-cerrado {
        display: grid;
        grid-template-columns: 90% 10%;
        padding: 10px 0;
        h2 {
          margin: 0;
          font-size: 1.25rem;
          padding: 10px 0;
          color: white;
          font-family: "Unbounded-light";
          text-transform: lowercase;
        }
        .servicios-iconoAbrirCerrar {
          display: flex;
          justify-content: left;
          position: relative;
          left: -15%;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto 0;
            width: 25px; // Tamaño del círculo
            height: 25px;
            background-color: transparent; // Fondo del círculo inactivo
            border-radius: 50%; // Hace el contenedor circular
            transition: background-color 0.1s ease; // Transición suave para hover
            cursor: pointer;
            border: 1px solid $blanco;

            &:hover {
              background-color: $blanco;
              border: none;

              svg {
                fill: $azul-oscuro; // Aplica color blanco al ícono
              }
            }

            svg {
              scale: 1.1; // Escala del ícono
              fill: $blanco; // Color por defecto del ícono
              transition: fill 0.1s ease; // Transición suave para el cambio de color
            }
          }
        }
      }
      .servicios-abierto {
        width: 80%;
        p {
          font-size: 0.8rem;
          padding-bottom: 20px;
          font-family: "RedHatDisplay-Light";
        }
      }
    }
  }
  .oculto {
    display: none;
  }
}
