@use "./reutilizables/tipografias";
@import "./reutilizables/colors";

@media (min-width: 847px) {
  .home_desktop-servicios {
  
    .acordion-externo {
      display: flex; // Alinea los ítems en fila
      flex-direction: row; // Coloca los elementos lado a lado
      height: 500px;
      .accordion-item {
        display: flex;
        flex-direction: row-reverse; // Mantiene header y body apilados dentro de cada ítem

        justify-content: center;
        .accordion-header {
          writing-mode: vertical-rl; // Hace que el texto se lea de abajo hacia arriba
          transform: rotate(
            180deg
          ); // Corrige la orientación del texto para que sea legible
          text-align: center; // Alinea el texto verticalmente en el header
          cursor: pointer; // Asegura que sea clickeable

          .accordion-button {
            background-color: transparent;
            color: white;
            font-size: 50px;
            text-transform: uppercase;
            margin: 0 auto;
            height: 430px;
            font-size: 40px;
            font-family: "Unbounded-Extralight";
            padding: 30px;
            padding-top: 40px;
          }
          .accordion-button::after {
            display: none; /* Oculta la flecha */
          }
          .accordion-icon {
            display: flex;
            position: absolute;
            top: 100%;
            margin: auto;
            transform: translate(-50%, -50%);
            transform: rotate(180deg);

            img {
              padding-bottom: 0px;
              width: 40px;
            }
          }
        }

        .accordion-collapse {
          width: 100%;
          .accordion-body {
            flex: none;
            //overflow: auto;
            padding: 1rem; // Ajusta los márgenes si es necesario
          }
        }
      }
      .item-activo {
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: left;

        .accordion-body {
          padding: 0;
          width: 100%;
          p {
            margin: 0;
            color: $blanco;
          }
          .home_desktop-servicios-pretitulo{
            p{
              font-family: "RedHatDisplay-Medium";
              text-transform: uppercase;
            }
          }
          .home_desktop-servicios-titulo {
            font-size: 50px;
            font-family: "Unbounded-light";
            color: $blanco;
            display: grid;
            grid-template-columns: 70% 30%;
            width: 80%;
            
            .home_desktop-servicios-p {
              line-height: 0.9;
              text-transform: uppercase;
              padding-top: 10px;
              grid-column: 1;
            }
            .home_desktop-servicios-titulo-estrella {
              grid-column: 2;
              position: relative;
              left: 30%;
              transform: translate(-50%, -20%);

              img {
                width: 50px;
              }
            }
          }
          span {
            display: block; // Asegura que el `span` actúe como una línea separadora
            height: 0.5px; // Define el grosor de la línea
            background-color: white; // Define el color blanco para la línea
            width: 80%;
          }
        }
      }
    }

    .acordion-interno {
      display: flex;
      flex-direction: column; /* Restablecer el flujo interno */
      background-color: transparent;
      padding: 0 50px 0 0;
      .accordion-item {
        display: flex;
        flex-direction: column;

        .accordion-header {
          writing-mode: horizontal-tb;
          transform: rotate(360deg);

          .accordion-button {
            color: black;
            background-color: transparent;
            //height: fit-content;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .servicios {
      width: 100%;

      span {
        display: block; // Asegura que el `span` actúe como una línea separadora
        height: 0.5px; // Define el grosor de la línea
        background-color: white; // Define el color blanco para la línea
        width: 100%;
      }
      .servicios-cerrado {
        display: grid;
        grid-template-columns: 80% 20%;
        padding: 10px 0;
        h2 {
          margin: 0;
          font-size: 1.25rem;
          padding: 10px 0;
          color: white;
          font-family: "Unbounded-light";
          text-transform: lowercase;
        }
        .servicios-iconoAbrirCerrar {
          display: flex;
          justify-content: left;
          position: relative;
          left: -15%;
          
          i {
            color: white;
            font-size: 1.5rem;
            margin: auto 0;
            svg{
              margin-bottom: 5px;
            }
          }
        }
      }
      .servicios-abierto {
        width: 45%;
        p {
          font-size: 0.8rem;
          padding-bottom: 20px;
          font-family: "RedHatDisplay-Light";
        }
      }
    }
  }
  .oculto {
    display: none;
  }
}
